{{ form_start(form, {'action': path('app_recipe_comment_new', {'id': recipe.id}), 'attr': {'id': 'comment-form'} }) }}
{{ form_errors(form) }}
<article class="media">

    <div class="media-content">

        <div class="field">
            {{ form_label(form.text, 'Kommentar eingeben', {'label_attr': {'class': 'label'}}) }}
            <p class="control">
                {{ form_widget(form.text, {'attr': {'class': 'textarea', 'placeholder': 'Ihr Kommentar'}}) }}
            </p>
        </div>
        <div class="field">
            <p class="control">
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-primary">Kommentar senden</button>
            </p>
        </div>
    </div>
</article>
{{ form_end(form) }}

