{% extends 'base.html.twig' %}
{% set random_images = [
    'images/placeholder/placeholder1.png',
    'images/placeholder/placeholder2.png',
    'images/placeholder/placeholder3.png'
] %}
{% block title %}Recipe index{% endblock %}

{% block body %}
    <main class="container mx-auto mt-10 max-w-7xl">
        <section>
            <h1 class="font-bold py-5">Willkommen auf Rezeptoria</h1>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
                {% for recipe in recipes %}
                <div class="rounded overflow-hidden shadow-lg flex flex-col">
                    <div class="relative"><a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">
                        {% if recipe.teaserImage %}
                            <img src="{{ asset('uploads/images/' ~ recipe.teaserImage) }}" alt="{{ recipe.title}} Image" class="w-full">
                        {% else %}
                            {% set random_index = random(range(0, random_images|length - 1)) %}
                            {% set random_image = random_images[random_index] %}

                            <img src="{{ asset(random_image) }}" alt="Kein Bild vorhanden" class="w-full">
                        {% endif %}

                        <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                        </div>
                        </a>
                        <div class="absolute top-0 left-0 w-full">
                            {% for category in recipe.categories %}
                                <div class="inline-block text-xs bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                                    {{ category.name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="px-6 py-4 mb-auto">
                        <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}"
                           class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">{{ recipe.title }}</a>
                        <p class="text-gray-500 text-sm">
                            {{ recipe.text }}
                        </p>
                    </div>
                    <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                        {% if app.user == recipe.owner %}
                            <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" height="13px" width="13px">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                                </svg>
                                <span class="ml-1">edit</span>
                            </a>
                        {% endif %}
                        <span href="#"
                              class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                            <svg class="h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z">
                                </path>
                            </svg>
                            <span class="ml-1">Kommentare:</strong> {{ recipe.commentCount }}</span>
                        </span>
                    </div>
                </div>

                {% else %}
                    no records found
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
