{% extends 'base.html.twig' %}

{% block title %}Recipe{% endblock %}

{% block body %}
<div class="flex items-center justify-center p-4">
    <div class="max-w-5xl w-full bg-white rounded-xl shadow-lg p-8">
        <h1 class="text-2xl font-bold text-gray-900 mb-6 text-center">{{ recipe.title }}</h1>
        <h2>Einleitung</h2>
        <p>{{ recipe.text }}</p>
        <h3>Zutaten</h3>
        <p>{{ recipe.ingredients }}</p>

        <h2>Kommentare</h2>

        {% for comment in recipe.comments %}
            <div>
                <p>{{ comment.text }}</p>
                <small>Geschrieben von {{ comment.createdUser.username }} am {{ comment.createdAt|date('d.m.Y H:i') }}</small>
            </div>
        {% endfor %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h3>Neuer Kommentar</h3>
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            <button type="submit" class="btn btn-primary">Kommentar absenden</button>
            {{ form_end(commentForm) }}
        {% else %}
            <p>Sie müssen <a href="{{ path('app_login') }}">angemeldet</a> sein, um einen Kommentar zu schreiben.</p>
        {% endif %}

    <a href="{{ path('app_recipe_index') }}">back to list</a>
        {% if app.user == recipe.owner %}
    <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>

    {{ include('recipe/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>
{% endblock %}
